<h1>Your Todos</h1>
<h2></h2>
<div class="ui grid">
	<div class="six wide column">
		<i class="large inbox icon"></i>Inbox
		<div class="ui search">
		  <div class="ui icon input">
		    <%= form_for @todo, :remote => true, url:{controller: 'todos', action: 'search'} do |f| %>
		    <%= f.text_field :title, :name => "query", :id => 'query', :placeholder => "Quick Find", :class => 'prompt' %>
		    <i class="search icon"></i>
		    <%= f.submit "Search" , :id => "search" %>
		    <% end %>
		  </div>
		  <div class="results"></div>
		</div>
	</div>
	<div class="ten wide column">
		<div class="ui relaxed divided list" id="todo-list">
		<% if @todos %>
		<% @todos.each do |todo| %>
		<div class="item">
			<i class="circle outline icon"></i>
			<div class="content">
			  <span><p style="line-height: 1em;" id="todo<%= todo.id %>"><%= link_to todo_path(todo.id) do %> <%= todo.title %> <% end %>| <%= todo.due_date.strftime('%b %d %H:%M') %> | <button id="comment<%=todo.id%>" onclick="showModal()"><i class="comment outline icon modal" ></i></button> | <%= link_to 'Edit', edit_todo_path(todo.id) %> | <%= link_to 'Delete', todo_path(todo.id), :method => :delete %></p></span>
			  
			  <!-- <div class="description">Updated 10 mins ago</div> -->
			</div>
		</div>
		<% end %>
		<% end %>
		</div>
		<!-- I'll be making here AJAX later -->
		<i class="large plus icon"></i> <%= link_to 'Add Task', new_todo_path %> 
	</div>
</div>

<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Profile Picture
  </div>
  <div class="content">
    <div class="description">
      <div class="ui header">We've auto-chosen a profile image for you.</div>
      <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
      <p>Is it okay to use this photo?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui positive right labeled icon button">
      Yep, that's me
      <i class="checkmark icon"></i>
    </div>
  </div>
</div>





<script type="text/javascript">
// 	function showModal(){
// 	$('.ui.modal').modal('show');
// };
</script>